{% assign color       = include.color       %}
{% assign theme_color = include.theme_color %}

html {
  --accent-color: {{ color }};
  --accent-color-faded: #{fade-out({{ color }}, 0.5)};
  --accent-color-highlight: #{fade-out({{ color }}, 0.9)};
  --accent-color-darkened: #{darken({{ color }}, 7.5%)};
  --theme-color: {{ theme_color }};
  {% if site.github and site.hydejack.dart_sass_2_compat != true %}
  --dark-mode-body-bg: #{hsl(hue({{ theme_color }}), (saturation({{ theme_color }}) / 8), 17.5%)};
  --dark-mode-border-color: #{hsl(hue({{ theme_color }}), (saturation({{ theme_color }}) / 8), 22.5%)};
  {% else %}
  --dark-mode-body-bg: #{hsl(hue({{ theme_color }}), calc(saturation({{ theme_color }}) / 8), 17.5%)};
  --dark-mode-border-color: #{hsl(hue({{ theme_color }}), calc(saturation({{ theme_color }}) / 8), 22.5%)};
  {% endif %}
}
